body{
		/*
	font-family: 'Roboto Condensed', sans-serif;	
	*/
	font-family: 'Press Start 2P', cursive;
	background-image:url("http://longwallpapers.com/Desktop-Wallpaper/retro-wallpapers-for-iphone-For-Desktop-Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
.title{
	margin-top:20px;
	margin-bottom:20px;
}
.quotes{
	background-color: rgba(0, 0, 0, 0.2);;
	/*opacity: 0.2;*/
	max-width:80%;
	margin-right: auto;
	margin-left:auto;
	margin-top:20px;
	margin-bottom:20px;
	padding:15px;
}
.quote{
	font-size:20px;
}
.author{
	color: orange;
}
.headTitle{
	font-size:30px;
	padding-bottom:10px;
}
